@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.read-ajudante-container{
    height: 82vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(circle, rgb(160 0 0 / 73%) 0%, rgba(15, 25, 35, 1) 68%, rgba(15, 25, 35, 1) 100%);
    justify-content: center;
}

.content-container{
    display: flex;
    flex-direction: column;
    width: 66%;
    align-items: center;
    background-color: #D9D9D9;
    font-family: 'Inria Sans';
    box-shadow: 0px 0px 25px rgb(13, 13, 13);
}

.ajudante-image{
    width: 80px;
    height: 80px;
    border-radius: 80px;
}

#headerDetail{
    width: 66%;
    font-family: 'Inria Sans';
    color: #D9D9D9;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#headerDetail h1{
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

#bg-nick{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131418;
    color: #dedede;
    padding: 30px 0px;
}

#bottom-linha{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: #AE3C56;
    height: 5px;
    border-bottom: 4px solid #560115;
}

#mid-content{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding: 35px 53px;
    align-items: center;
    gap: 24px;
}

.stats-ajud{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.stats-ajud p{
    color: #131418;
    font-weight: 900;
    margin: 0;
}

.stats-ajud p span{
    margin: 0;
    font-weight: 600;
}

#botoes-baixo{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 17px;
    gap: 11px;
}

.back-button{
    padding: 12px 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AE3C56;
    color: white;
    font-weight: 700;
    cursor: pointer;
    border-radius: 8px;
    border: #AE3C56;
    border-bottom: 4px solid #560115;
    transition: 0.3s ease-in-out;
}
.back-button:hover{
    border: none;
    background-color: #600117;
}

#img-rank{
    width: 40px;
    height: 40px;
}

.rank-ajud{
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 13px;
    font-weight: 900;
}