@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Inria Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.contentdiv{
    margin: 3rem;
    border: 1px solid #ccc;
    background-color: #d9d9d9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profileimage{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.infotopbar{
    color: white;
    display: flex;
    justify-content: flex-start;
    padding: 0.7rem;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #131418;
    border-top: 10px solid black;
    border-bottom: 6px solid #ae3c56;
}
.infotopbar h3{
    margin-left: 1rem;
}
.infoperfil{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}
.borderbottom{
    border-bottom: 4px solid #ae3c56;
    margin-bottom: 1rem;
    padding: 0px 20px 0px 20px;
}
.editingimg{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#botaoeditar{
    margin: 1rem;
    padding: 12px 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AE3C56;
    color: white;
    font-weight: 700;
    cursor: pointer;
    border-radius: 8px;
    border: #AE3C56;
    border-bottom: 4px solid #560115;
    transition: 0.3s ease-in-out;
}
#botaoeditar:hover{
    border: none;
    background-color: #600117;
}
#botoes{
    display: flex;
    justify-self: start;
}
.inputedit{
    display: flex;
    align-items: center;

}
.no-resize {
    resize: none;
    height: 20px;
  }

.imagembox{
    margin-top: 10px;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AE3C56;
    color: white;
    font-weight: 700;
    cursor: pointer;
    border-radius: 8px;
    border: #AE3C56;
    border-bottom: 4px solid #560115;
    transition: 0.3s ease-in-out;
}
.imagembox input{
    padding: 0.8rem 0px 0.8rem 0px;
    width: 14rem;
    opacity: 0;
}
.imagembox p{
    font-size: 11px;
    position: absolute;
}
